*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background: #f5f5f5;
}
.container{
    width: 900px;
    margin: 80px auto;
    padding: 50px;
    border: 3px solid #6ec1e4;
    background: white;
}
.container h2{
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
}
.in-container{
    display: flex;
    gap: 40px;
}
.left{
    width: 300px;
    padding: 25px;
    background: #f9f9f9;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.left h3{
    font-size: 16px;
    margin-bottom: 15px;
}
.left p{
    font-size: 14px;
    margin-bottom: 10px;
}
.end{
    font-size: 12px;
    color:gray
}
.right{
    flex:1;
}
.right p{
    margin-bottom: 20px;
    line-height: 1.6;
}