header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    width: 100%;
}
#page-logo a{
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    color: rgb(243, 243, 127);
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li a{
    font-size: 14px;
    color: rgb(250, 250, 160);
}
#hero{
    background-image: url(img2/ocean.jpg);
    background-size: cover;
    display: flex;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#hero-content{
    background-color:rgba(211, 208, 208, 0.85);
    padding: 30px 100px;
    text-align: center;
    border-radius: 8px;
}
#hero-content h1{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
#hero-content p{
    color: rgb(106, 104, 104);
    font-size: 12px;
    margin-bottom: 15px;
}
#hero-content a{
    background-color: rgb(253, 253, 26);
    color: black;
    padding: 5px;
    border-radius: 5px;
}
#highlights{
    padding: 30px 40px;
    text-align: center;
    background-color:rgb(204, 238, 238);
}
#highlights h2{
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
}
#destinations{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.destination{
    flex: 1;
    max-width: 300px;
}
.destination img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.destination p{
    font-size: 10px;
    color: rgb(185, 183, 183);
    margin-top: 10px;
}
.destination p strong{
    color: rgb(5, 200, 200);
    text-transform: uppercase;
}
footer{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
}
footer ul{
    display: flex;
    gap: 30px;
}
footer ul li a img{
    width: 30px;
    height: 30px;
}