body{
    font-style: normal;
    background: fixed;
    display: block;
    margin: 2px color #4d4b4b;
}
.container{
    width: 700px;
    margin: 30px auto;
}
.Employee-form{
    padding: 20px;
    background-color: rgb(248, 248, 248);
    border: 1px solid #bbb ;
}
h1{
    font-size: 20px;
    padding-bottom: 5px ;
    border-bottom: 1px solid #999;
    margin-top: 20px;

}
.row{
    display: flex;
    align-items: center;
    margin: 8px;
}
.row label{
    width: 150px;
    font-weight: bold;
    font-size: 13px;
}
.row textarea{
    flex: 1;
    padding: 5px;
    border: 1px solid #999;
    font-size: 13px;
}
.radio-group label{
    font-weight: normal;
}
.textarea{
    resize: vertical;
}
.checkbox-group label{
    font-weight: normal;
}
.bottons{
    text-align: right;
    margin-top: 20px;
}
botton.cancel{
    background: #f2f2f2;
}
button{
    padding: 6px 14px;
    border: 1px solid #555;
    background: #ddd;
    cursor: pointer;
}
botton:hover{
    background: #ccc;
}
